.product-list {
    
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-item {
    background-color: rgb(236, 253, 247);
    display: flex;
    justify-content: space-between;
    gap: 3px;
    margin: 5px;

}