#main-nav, #admin-nav {
    /* position: fixed;
    margin-top: 0px;
    margin-left: 5px; */
   

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 5rem;
        


    }
}